---
import Layout from "../../layouts/Layout.astro";
import Fondo from "../sIndex/Fondo.astro";
import Intro from "../sIndex/Intro.astro";
import Bento from "../sIndex/Bento.astro";
import PreFooter from "../sIndex/PreFooter.astro";
---
<Layout title="Bienvenido a Morvi" description="Realm Tecnico Decorativo">
    <Fondo />
    <main>
        <Intro />
        <Bento />
        <PreFooter />
    </main>
</Layout>

<style></style>