---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "../sArchive/HeroContainer.astro";
import Numeros from "../sArchive/Numeros.astro";
import Galeria from "../sArchive/Galeria.astro";
import Footer from "../Footer.astro";
---

<Layout title="Morvicraft Archivo" description="Archivo">
    <HeroContainer img="/archivo-page/Fondo.webp" />
    <main>
        <Galeria />
        <Numeros />
    </main>
    <Footer />
</Layout>
