---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "../HeroContainer.astro";
import Numeros from "../sArchive/Numeros.astro";
import Galeria from "../sArchive/Galeria.astro";
---

<Layout title="Archivo de MorviCraft" description="Archivo">
    <HeroContainer img="/archivo-page/Fondo.webp" />
    <main>
        <!-- <Galeria />-->
        <Numeros />
    </main>

</Layout>
