---
import Layout from "../../layouts/Layout.astro";
import HeroContainer from "../HeroContainer.astro";
---

<Layout title="Capturas de MorviCraft" description="Todas los Momentos de los miembros">
    <HeroContainer img="/captura-page/Fondo.webp"></HeroContainer>
    <main></main>

</Layout>