---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "../sArchive/HeroContainer.astro";
import Footer from "../Footer.astro";
---

<Layout title="Morvicraft Info" description="Info">
    <HeroContainer img="/info-page/Fondo.webp" />
    <main>

    </main>
    <Footer />
</Layout>
