---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "../HeroContainer.astro";
---

<Layout
    title="Proyectos de MorviCraft"
    description="Todas los Proyectos de los miembros"
>
    <HeroContainer img="/proyect-page/Fondo.webp"><main></main></HeroContainer>
</Layout>
