<div class="w-full relative">
    <img
        class="w-full h-screen object-cover object-top animate-fade animate-duration-1000 -z-20"
        src="/Fondo.webp"
        style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);"
    />
    <img class="absolute -buttom-48 blur-3xl -z-10" src="/Fondo.webp" />
    <img class="absolute blur-3xl top-[1200px] -z-10" src="/Fondo.webp" />
    <div>
        <div
            class="absolute w-full m-auto z-10 text-5xl text-center top-[250px] text-white"
        >
            <h1>Morvicraft</h1>
        </div>
        <div
            class="absolute w-full m-auto z-10 text-center top-[300px] text-white"
        >
            <p>Realm Tecnico-Decorativo</p>
        </div>
    </div>
</div>
