---
import BentoItem from "../sIndex/BentoItems.astro";
---

<section
    class={`
        w-full max-w-[1400px]
        grid grid-cols-10 auto-rows-[25rem] gap-4
        mx-auto p-20
    `}
>
    <BentoItem
        class="col-span-10 md:col-span-4"
        title="Miembros de Morvi"
        subtitle=""
        page="skin"
    >
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/skin-page/SkinBento.webp')"
        >
        </div>
        <p slot="content" class="max-w-xl">
            Skin y Rol de Todos los miembros de
            <strong>MorviCraft</strong>
        </p>
    </BentoItem>
    <BentoItem
        class="col-span-10 md:col-span-6"
        title="Capturas"
        subtitle="Avance y Momentos de los Miembros"
        page="capturas"
    >
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
              h-full group-hover:scale-110 transition-scale duration-1000
              ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/captura-page/Fondo.webp')"
        >
        </div>
    </BentoItem>
    <BentoItem
        class="col-span-10 md:col-span-6"
        title="Proyectos"
        subtitle="Trabajos activos en MorviCraft"
        page="proyectos"
    >
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
          h-full group-hover:scale-110 transition-scale duration-1000
          ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/proyect-page/Fondo.webp')"
        >
        </div>
    </BentoItem>
    <BentoItem
        class="col-span-10 md:col-span-4"
        title="Discord"
        subtitle=""
        page="https://discord.gg/yZrC4UwxhS"
    >
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
            h-full group-hover:scale-110 transition-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/archivo-page/Fondo.webp');"
        >
        </div>
    </BentoItem>
</section>
