---
import Logo from "./Logo.astro";
---

<div class="w-full relative">
    <img
        class="w-full h-screen object-cover object-top animate-fade animate-duration-1000 -z-20"
        src="/skin-page/Fondo.webp"
        style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);"
    />
    <div class="relative justify-center -top-0 text-8xl text-white z-10">
        <Logo fill="white" class="m-auto mb-10 h-auto" />
    </div>
    <img
        class="absolute -buttom-48 blur-3xl -z-10"
        src="/skin-page/Fondo.webp"
    />
    <img
        class="absolute blur-3xl top-[1200px] -z-10"
        src="/skin-page/Fondo.webp"
    />
</div>
