---
import Logo from "./Logo.astro";
---

<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto my-24">
    <Logo fill="white" class="m-auto mb-10 h-auto" />
    <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
    >
        Bienvenido a <br />MorviCraft
    </h1>
    <p
        set:html="Ven y diviértete en este increíble servidor sobre Minecraft!!!"
    />
    <p
        set:html="Habla sobre tus experiencias, publica tus Construcción y debate sobre la Redstone!"
    />
    <p
        set:html="Además puedes postular para ser participe de nuestro Realm de Minecraft Bedrock Técnico en donde podrás aportar con las mejores granjas o las mejores construcciones y dejar tu gran Marca en el servidor"
    />
</section>
